<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CSPIT - Information Technology Department</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">


  <!-- Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">



</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:cspit@charusat.ac.in">cspit@charusat.ac.in</a>
        <i class="fa fa-phone"></i> +91-2697-265131
      </div>
      <div class="social-links float-right">
        <a href="https://www.facebook.com/CSPITIT/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h3><a href="index.html" class="scrollto"><span><h6>Dept. of</h6>Information Technology</span></a></h3>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="index.html">Home</a></li>
          <li class="menu-has-children"><a href="#">Academics</a>
            <ul>
              
              <li><a href="aca_calender.html">Academic Calender</a></li>
              <li><a href="aca_timetable.html">Time Table</a></li>
              <li class="menu-has-children"><a href="#">Syllabus</a><ul><li><a href="btech.html">B.Tech.</a></li><li><a href="mtech.html">M.Tech.</a></li></ul></li>
              <li><a href="aca_practical.html">Practical List & Lab Manual</a></li>
              <li><a href="aca_papers.html">Question Papers</a></li>
              <li><a href="aca_projectglimpse.html">Project Glimpse</a></li>
            </ul>
          </li>
          

          <li class="menu-has-children"><a href="#">People</a>
            <ul>
              <li><a href="staff_faculties.html">Faculty Members</a></li>
              <li><a href="staff_support.html">Support Staff</a></li>
            </ul>
          </li>          
          
          <li class="menu-has-children"><a href="#">Research</a>
            <ul>
              <li><a href="lab_advance.html">Advanced Computing</a></li>
              <li><a href="lab_web.html">Web Technology</a></li>
              <li><a href="lab_security.html">Information Security</a></li>
              <li><a href="lab_networking.html">Networking</a></li>
              <li><a href="lab_database.html">Database Management</a></li>
              <li><a href="lab_os.html">Operating System</a></li>
              <li><a href="lab_pm.html">Project Management</a></li>
              <li><a href="lab_automation.html">Office Automation and Programming</a></li>  <li><a href="lab_grants.html"> Grants & Consultancy</a></li>
            </ul>
          </li>

          <li class="menu-has-children"><a href="#">Outreach Activities</a>
            <ul>
              <li><a href="outreach_industry.html">Industry Visits</a></li>
              <li><a href="outreach_expert.html">Associated Experts</a></li>
              <li><a href="outreach_chapter.html">Student Chapters</a></li>
              <li><a href="outreach_nptel.html">NPTEL Certification</a></li>
              
            </ul>
          </li>
          
          <li class="menu-has-children"><a href="#">Department</a>
            <ul>
              
              <li><a href="dep_Projects :.html">Top Projects :</a></li>
              <li><a href="dep_ict.html">ICT Resources</a></li>
              <li><a href="dep_events.html">Event and Activities</a></li>
              <li><a href="dep_achievements.html">Student Achievements</a></li>
              <li><a href="dep_entrepreneurs.html">Entrepreneurs</a></li>
              
              <li><a href="dep_publication.html">Publication</a></li>
              
              
            </ul>
          </li>
                    
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
  <main id="main">

   <section id="services" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2></h2><h2 style="padding-top: 20px">Project Management</h2><br>
          <p>Project management begins, as it should, by defining its subject: A project, according to project management theory, is an activity with three characteristics:</p>
          <br><p>Definite start and end dates <br>Established resource budgets</p>
          <br><p>Projects : can be large or small, planned and tracked formally or informally, and defined by a legal contract or an informal agreement. They can involve activities that have been performed many times before or entirely new approaches and technologies.</p>
        </div>
        
        <table>
          <tr>
            <td>
              <center><h3>Course Information</h3></center>
            </td>
            <td>
              <center><h3>Resources and Configurations</h3></center>
            </td>
            <td>
              <center><h3>Softwares</h3></center>
            </td>
          </tr>
          <tr>
            <td>
              <ul>
                <li>IT303.02 Advance Database Management Systems</li>
                <li>IT313.01 Embedded System</li>
                <li>IT318 Software Group Project-III</li>
                <li>IT414 Software Group Project-V</li>
                <li>IT415 Data Warehouse and Data Mining</li>
                <li>IT405.01 Advanced Computing</li>
                <li>IT243 Digital Communication</li>
                <li>IT409 High Performance Computing</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>Number of Computers: 23</li>
                <li>Operating System: Windows 7 Professional & Linux - Ubuntu OS (Dual Boot)</li>
                <li>Model: Lenovo 7413</li>
                <li>Processor: Intel Core 2 Duo 2.8 GHz</li>
                <li>RAM:2 GB</li>
                <li>Storage: 320 GB HDD</li>
                <li>Switch: CISCO 1GB Fast Ethernet 24 Port Switch</li>
              </ul>
            </td>
            <td>
              <ul>
                <li><u>Office s/w</u>: Microsoft Office 2013 with Visio 2013, Adobe PDF Reader, Notpad ++, Smart Draw</li>
                <li><u>Web Servers</u>: Apache Tomcat, Glassfish, Wamp Server</li>
                <li>Programming IDE's & Tools & SDK's: NetBeans IDE, Android Studio with Android SDK, Eclipse IDE, Turbo C & C++, Java SDK 7, Microsoft Visual Studio 2010, Python, Adobe Dreamweaver, Sublime</li>
                <li><u>Application Server's</u>: SQL Server, FTP Server FileZilla, MySQL Server</li>
                <li><u>Research Tools</u>: Rapid Miner, R tool, Weka, Orange, Mendeley Desktop.</li>
                <li><u>Network IDE's</u>: Cisco Packet Tracer, VNC Free Edition</li>
                <li><u>Security s/w</u>: Sophos Antivirus</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
   </section>



    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2></h2><h2 style="padding-top: 20px">Contact Us</h2>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <small><small><address>
                Department of Information Technology
                <br>Charotar University of Science and Technology,
                <br>CHARUSAT Campus, Changa
                <br>Taluka: Petlad, Dist: Anand 
                <br>Gujarat (India) 388 421
              </address></small></small>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p style="text-align: center;"><a href="tel:+155895548855">+91-2697-265131</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p style="text-align: center;"><a href="mailto:cspit@charusat.ac.in">cspit@charusat.ac.in</a></p>
            </div>
          </div>

        </div>
      </div>

      <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1038.5825395202128!2d72.81985657359346!3d22.60036344224607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e50c69f46cd55%3A0xb5b7331510f2b695!2sDepartment+of+Information+Technology!5e0!3m2!1sen!2sin!4v1535123639227" width="600" height="450" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe></center>
      

<!--      <div class="container">
        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section> #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>CHARUSAT</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="lib/sticky/sticky.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
